<footer class="container-fluid mb-5">
  <div class="row footer-wrapper">
    <div class="address-col col text-white col-lg-3">
      <div class="badge-wrapper">
        <img
          src="https://hotelsaigon.net/public/uploads/logo/jc1PsiPlFKLMA6KhDjAlZPhaORAOZz2FTQPB2mNf.png"
          alt="tomeic image"
          class="image-badge"
        />
        <div>
          <span class="mt-3 d-block">
            Hệ thống khách sạn Đức Đạt phân bố tập trung ở khu vực trung tâm thành phố: Q.Tân Bình - Q.Gò Vấp - Q.Bình Chánh và cạnh trung tâm thương mại lớn để đáp ứng nhu cầu của hầu hết khách du lịch và khách công tác. Với hơn 200 phòng khách sạn của cả hệ thống được trang bị hiện đại, tiện nghi quý khách luôn có thể lựa chọn vị trí thuận lợi nhất cho chuyến đi và ngày nghỉ của mình theo mong muốn.</span
          >
        </div>
      </div>
    </div>

    <div class="col text-white col-lg-3">
      <h3 class="title-footer">BÀI VIẾT MỚI</h3>
      <div>
        <div class="menu-link-footer">
          <span>10 xu hướng thịnh hành trong ngành khách sạn 2022 </span>
        </div>
      </div>
    </div>
    <div class="col text-white col-lg-3">
      <h3 class="title-footer">CHÍNH SÁCH</h3>
      <div>
        <div class="menu-link-footer">
          <span>Chính sách nhận phòng</span>
          <div>
            <span>Chính sách trả phòng</span>
          </div>
          <div>
            <span>Chính sách thanh toán</span>
            <span>Chính sách bảo mật</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-white col-lg-3">
      <h3 class="title-footer">HÌNH THỨC THANH TOÁN</h3>
      <img
        src="//bizweb.dktcdn.net/100/472/947/themes/888072/assets/icon_check_out.png?1676011628150"
        alt="qr"
        class="qr"
      />
    </div>
  </div>
  <div class="copyright-footer">
    <span><strong>Địa chỉ:</strong> Tân Bình, TP. Hồ Chí Minh </span
    ><span><strong>Phản hồi dịch vụ:</strong> 086 993 6688 </span
    ><span><strong>Website:</strong> www.duclachotel.vn </span
    ><span><strong>Email:</strong> hotel@duclac.vn</span>
    <span class="copyright-text">
      Copyright ©2019 Q.Anh. All rights reserved</span
    >
  </div>
</footer>